#seccion img{
	border-radius: 10px;
	width: 100px;
}

#seccion h2{	
	text-align: center;
	border-bottom: 2px solid #999999;
}

#seccion #amigos li{
	display:inline-block;	
}

#amigos figcaption{
	text-align:center;
    margin:0px;
}
#seccion figure{
    margin:5px;
}
#seccion a{
	text-decoration:none; 
	color: black;
}
