
#seccion img{
	
		max-width: 100px;
}

#seccion h2{
	
		text-align: center;
		padding: 0px;
		border-bottom: 2px solid #999999;

}
#amigos li{
	display:inline-block;
	margin-right:40px;
	
}
#amigos img{
	float:left;
	:center;
}
#amigos figcaption{
	margin-top: 36px;
	text-align:center;
	
}
#seccion a{
	text-decoration:none; 
	color: black;
}
