#seccion textarea{
    width: 90%;
    height: 10em;
}
#seccion #estrellas img{
	height: 16px;
	width: 16px;
}
#seccion ul{
	margin:0px;
	padding: 0px;
}
#seccion #iz{
	float:left;
	padding:20px;
}
#seccion img {
	width: 200px;
}
#seccion .bl{
	display:block;
}
#seccion .estado{
	width: 80px;
}
#seccion #de span{
	font: bold 14px Verdana, sans-serif;
}
#seccion #administracion li{
	display: inline-block;
}
#seccion h3{
	clear:right;
	text-align: center;
}

#seccion #genero{
	margin-top: 20px;
    text-align: center;
}

#seccion #comente{
	margin-left:20px;
	margin-top:20px;
}
#seccion .tablacomentario{	
	width: 680px;
}

#seccion #comentarios{
	clear: both;
}
#seccion .comentario{
	word-wrap: break-word;
	max-width:670px;

}
#seccion .fila1{
	background: #FB5741;
}
#seccion .fila2{
	width: 680px;
	background: #81BDEB;
}
#seccion .fecha{
	width: 200px;
}
#seccion #comentarios table{
	margin-top: 10px;
}
#seccion .trailer{
	clear:both;
	margin:20px;
	margin-left: 60px;
}