#seccion li{
	display: inline-block;
}

#seccion figcaption{
	margin:0px;
	padding: 0px;
	width: 100px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;	
	text-align: center;	
}

#seccion h2{
	text-align: center;
	border-bottom: 2px solid #999999;
}

#seccion img {
    width: 100px;
    border-radius: 8px;
}


#seccion #formulario{
	text-align: center;
	padding-bottom: 10px; 
	
}

#seccion figure{
    margin:10px;
    padding: 0px;
}
