body{
	background: #999999;
}
a{
	text-decoration: none;
	color:black;
}
.incorrecto p{
	background: #eb9881;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:15px;
	padding-top: 15px;
}

.correcto p{
	background: #85cb53;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:15px;
	padding-top: 15px;
}

#cabecera{
	background: white;
	border: 5px solid #fb5741;
	padding: 20px;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: #ab4a3d 5px 5px;
	-webkit-box-shadow: #ab4a3d 5px 5px;
	box-shadow: #ab4a3d 5px 5px;
}


#cabecera h1{
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #fb5741;
	font-size: 75px;	
}

#cuerpo {
	width: 960px;
	margin: 15px auto;
}

#navegador{
	background: #81bdeb;
	padding: 0px;
	margin: 0px;
}

#navegador ul{
	margin: 0px;
	padding: 0px;
}

#navegador li {
	color:black;
	display: inline-block;
	list-style: none;
	padding:10px;
	margin: 0px;
	font: bold 14px verdana, sans-serif;
}

#navegador a{
	padding: 5px;
	margin: 0px;
}
#navegador a:hover{
	color:white;
}

#navegador li:hover{
	background: #243542;
	cursor: pointer;
	color:white;
}

#seccion {
	float: left;
	width: 680px;
	margin: 0px;
	padding: 10px;
	background: white;
}

#menu {
	float: left;
	width: 220px;
	margin: 0px;
	padding: 20px;
	background: #81bdeb;
}
#menu a:hover{
	color:white;
}
#menu ul{
	margin: 0px;
	padding: 0px;
}
#menu li{
	color:black;
	display: block;
	list-style: none;
	padding: 5px;
	margin: 0px;
	font: bold 14px verdana, sans-serif;
}
#menu li:hover{
	background: #243542;
	cursor: pointer;
	color:white;
}
#menu h4{
	margin: 0px;
}
.boton{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border:0px;
	margin-bottom: 20px;
	background: -moz-linear-gradient(
		top,
		#e5ecfd 0%,
		#355fcb);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e5ecfd),
		to(#355fcb));
}
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}