
body{
	background: #999999;
}
a{
	text-decoration: none;
	color:black;
}
.incorrecto p{
	background: #eb9881;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:15px;
	padding-top: 15px;
}

.correcto p{
	background: #85cb53;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:15px;
	padding-top: 15px;
}

#cabecera{
	background: white;
	border: 5px solid #fb5741;
	padding: 20px;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: #ab4a3d 5px 5px;
	-webkit-box-shadow: #ab4a3d 5px 5px;
	box-shadow: #ab4a3d 5px 5px;
}


#cabecera h1{
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #fb5741;
	font-size: 75px;	
}

#cuerpo {
	width: 960px;
	margin: 15px auto;
}

#navegador{
	background: #81bdeb;
	padding: 0px;
	margin: 0px;
}

#navegador ul{
	margin: 0px;
	padding: 0px;
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}
#navegador li {
	color:black;
	display: inline-block;
	list-style: none;
	padding:10px;
	margin: 0px;
	font: bold 14px verdana, sans-serif;
	
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#navegador li:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#navegador li:hover{
	z-index:40;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#navegador li:hover:before{
      opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#navegador a{
	padding: 5px;
	margin: 0px;
}
#navegador a:hover{
	color:white;
}

#navegador li:hover{
	background: #243542;
	cursor: pointer;
	color:white;
}

#seccion {
	float: left;
	width: 680px;
	margin: 0px;
	padding: 10px;
	background: white;
}

#menu {
	float: left;
	width: 220px;
	margin: 0px;
	padding: 20px;
	background: #81bdeb;
}
#menu a:hover{
	color:white;
}
#menu ul{
	margin: 0px;
	padding: 0px;
}
#menu li{
	color:black;
	display: block;
	list-style: none;
	padding: 5px;
	margin: 0px;
	font: bold 14px verdana, sans-serif;
	
-webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#menu li:before{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  
  background: linear-gradient(225deg, #81bdeb 45%, #580964 50%, #8B0E9F 56%, #CB58DC 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
#menu li:hover{
	background: #243542;
	cursor: pointer;
	color:white;	
}
#menu li:hover:before{
    width: 20px;
    height: 20px;
}
#menu h4{
	margin: 0px;
}
#menu p{
	border: solid 1px #000000; 
}
.boton{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border:0px;
	margin-bottom: 20px;
	background: -moz-linear-gradient(
		top,
		#e5ecfd 0%,
		#355fcb);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e5ecfd),
		to(#355fcb));
}
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}