#seccion h2{
	text-align: center;
	padding: 0px;
	border-bottom: 2px solid #999999;
}
#seccion img {
	width: 110px;
	margin-top: 5px;
	border-radius: 10px;
}
#seccion .nombre{
	width: 300px;	
	border-left: 400px;
}
#seccion table{
	border-collapse:collapse; 
	border: none;
	width:100%; 
	
}
#seccion tr:first-of-type{
	background: #81bdeb;
}
#seccion tr td {
	text-align: center;
	height:30px;
}


