#seccion img {
	width: 200px;
}
#seccion textarea{
	width: 100%;
	height: 20em;
}
#seccion table{
	width: 100%;
}
#seccion .span{
    text-align: right;
	width: 12em;
}
#seccion #cantidades{
	text-align: center;
}
#seccion #cantidades input{
    text-align: center;
    width: 3em;
}
#seccion .calidad{
	text-align: left;
}
#seccion #nombre{
    width: 100%;
}
#seccion #year{
    width: 10em;
}
#seccion #edad{
    width: 3em;
    text-align: center;
}
#seccion #trailer{
    width: 100%;
}