#seccion #acciones ul{
	clear: both;
    background:#777777;
    text-align:center;
    
}
#seccion #acciones li{
	display: inline-block;
    padding:5px;
    cursor: pointer;
    color:#ffffff;
   
}
#seccion #acciones li:hover{
    background:#cccccc;
}

#seccion ul{
	margin:0px;
	padding: 0px;
}
#seccion #iz{
    margin-top:10px;
	float:left;
}
#seccion img {
	width: 200px;
}

#seccion h3{
	text-align: center;
}
#seccion #genero{
	width:450px;
	margin-top: 20px;
	margin-left: 220px;
}
#seccion #boton{
	margin-left: 20px;
}
#seccion #comentarios{
	clear: both;
}
#seccion #comentarios ul{
	list-style: none;
}
.fila1{
	background: #FB5741;
}
.fila2{
	background: #FB5741;
}
.fila3{
	background: #81BDEB;
}
.fecha{
	float:right;
}
#comentarios table{
	margin-top: 10px;
	width: 100%;
	word-wrap: break-word;
    word-break:break-all;	
}
.de{
	display:block;
	margin-left:140px;
	float:left;	
}	
.autor{
	margin-right: 20px;
}
#seccion #administracion li{
	display: inline-block;
}
.boton_examinar{
	width: 90px;
}







