#seccion #acciones ul{
	clear: both;
    text-align:center;
    margin: 0px;
    background:#777777;
}
#seccion #acciones li{
	display: inline-block;
	margin: 0px;
    padding:5px;
    cursor: pointer;
    color:#ffffff;   
}
#seccion #acciones li:hover{
    background:#81F79F;
    color: #000000;
}

#seccion ul{
	margin:0px;
	padding: 0px;
}
#seccion #iz{
    margin-top:10px;
	float:left;
}
#seccion img {
	width: 200px;
	border-radius: 5px;
}
#seccion h3{
	text-align: center;
}
#seccion #boton{
	margin-left: 20px;
}
#seccion #comentarios{
	clear: both;
}
#seccion #comentarios tr td{
	background: #81BDEB;
}
#seccion #comentarios tr:first-child{
	font-weight: 900;
}
#seccion #comentarios tr:first-child td:first-child{
    border-top-left-radius: 5px;
    width: 80%;    
	background: #FB5741;
}
#seccion #comentarios tr:first-child td:last-child{
    border-top-right-radius: 5px;
    width: 100%;
    background: #FB5741;
    text-align: right;
}
#seccion #comentarios table{
	border-collapse:collapse; 
	margin-top: 10px;
	width: 100%;
	word-wrap: break-word;
    word-break:break-all;	
}
#seccion .de{
	display:block;
	margin-left:140px;
	float:left;	
}	
#seccion .autor{
	margin-right: 20px;
}
#seccion #administracion li{
	display: inline-block;
}
#seccion .boton_examinar{
	width: 100px;
}