#seccion li{
	display: inline-block;
}
#seccion figcaption{
	margin:0px;
	padding: 0px;
	width: 100px;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	text-align: center;	
}

#seccion h2{
	clear: both;
	text-align: center;
	padding: 0px;
	border-bottom: 2px solid #999999;
}

#seccion img {
    height: 150px;
    border-radius:5px;
}
#seccion figure{
    margin: 5px;
}
#seccion .estrellas{
    height:20px;
}
#seccion .nombre{
	text-align: center;
}